<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Măsurători în timp real</title>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="10" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current',
             {'packages':['corechart']});

        google.charts.setOnLoadCallback(drawCharts);

        function drawCharts() {
            drawChart1();
            drawChart2();
            drawChart3();
        }

        function drawChart1() {
            var pack1 = [[${pack1}]];
            var pack2 = [[${pack2}]];
            var my26 = [[${my26}]];
             var data = google.visualization.arrayToDataTable([
                ['Label', 'Value'],
                ['Pack1', pack1],
                ['Pack2', pack2],
                ['MY26', my26]
            ]);

            var options = {
                title: 'Measurements per reference (%)',
                is3D:true,
                width: 450,
                height: 200,
                colors: ['silver', '#339900','#CC0099'],
                backgroundColor: {fill: '#f4511e', fillOpacity: 0.5},
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
            chart.draw(data, options);
        }

            function drawChart2() {
            var notStarted = [[${notStarted}]];
            var inPending = [[${inPending}]];
            var finished = [[${finished}]];
             var data = google.visualization.arrayToDataTable([
                ['Label', 'Value',{role:"style"}],
                ['In metrology', notStarted,"#c0c0c0"],
                ['In the process of measurement', inPending,"#ffff00"],
                ['Measurement finished', finished, "#008000"]
            ]);

            var options = {
                title: 'No. of parts',
                width: 450,
                height: 200,
                backgroundColor: {fill: '#f4511e', fillOpacity: 0.5},
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('ColumnChart'));
            chart.draw(data, options);
        }

    </script>
    <style>
    body {
        background-color: #F0F8FF;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Ensure full viewport height */
        margin: 0; /* Remove default margin */
    }

  .jumbotron {
    background-color: #f4511e;
    color: #fff;
    font-size: 1px;
    padding: 1px;
    font-family: Montserrat, sans-serif;
  }

  .panel {
        background-color: #fff; /* Set background color for the panels */
        padding: 5px; /* Add some padding for better appearance */
        border-radius: 4px; /* Optionally, add border radius for rounded corners */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optionally, add a box shadow for depth */
    }

  </style>
</head>

<body>
<div style = "font-size: 2px;" class="jumbotron text-center">
    <h1>SPC Monitoring</h1></div>

<div style="display: flex; justify-content: center; margin: 0 auto;">
    <div style="width: 34%;">
        <div id="piechart_3d" class="panel" style="margin-left: 10px;margin-right: 35px;"></div>
    </div>
    <div style="width: 34%;">
        <div id="ColumnChart" class="panel" style="margin-left: 35px;margin-right: 10px;"></div>
    </div>
</div>


        <table style="width:100%;font-family: Arial, sans-serif; font-size: 12px;font-weight: bold;" class="table table-bordered text-center">

            <thead class="thread-dark">
            <tr>
                <th style="text-align:center">ID</th>
                <th style="text-align:center">Type Of Part</th>
                <th style="text-align:center">Type Of Measure</th>
                <th style="text-align:center">Operation</th>
                <th style="text-align:center">Machine</th>
                <th style="text-align:center">Unit</th>
                <th style="text-align:center">Status</th>
<!--                <th style="text-align:center">Measurement Finish ?</th>-->
                <th style="text-align:center">Measurements arrived</th>
                <th style="text-align:center">Measurements started</th>
                <th style="text-align:center">Measurements finished</th>
                <th style="text-align:center">Measurements duration</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr th:each="item : ${todoItems}" th:class="${item.isComplete} ? 'alert alert-success' : 'alert alert-warning'">

                <td th:text="${item.id}"></td>
                <td th:text="${item.typeOfPart}"></td>
                <td th:text="${item.typeOfMeasure}"></td>
                <td th:text="${item.operationNumber}"></td>
                <td th:text="${item.machineNumber}"></td>
                <td th:text="${item.unitOfMachine}"></td>
                <td th:text="${item.statusOfMeasurements}"></td>
<!--                <td>-->
<!--                    <span th:if="${item.isComplete} == true" th:text="YES" />-->
<!--                    <span th:unless="${item.isComplete} == true" th:text="NO" />-->
<!--                </td>-->
                <td th:text="${item.createdAt}"></td>
                <td th:text="${item.updatedAt}"></td>
                <td th:text="${item.finishedAt}"></td>
                <td th:text="${item.duration}"></td>

            </tr>
            </tbody>
        </table>
    <script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
    </body>
    </html>
